
@import 'semantic';
// @import 'add-to-homescreen';
@import 'weather';

/* My Styles */
#cheney i, #spokane i, #geo i {
    color: aqua;
    font-size: 6em;
}

.forecast i {
    color: chartreuse;
    font-size: 4em;
}

ul.ui.list li:before, .ui.bulleted.list .list>.item:before, .ui.bulleted.list>.item:before {
    content: none;
}

body {
    background: #4CA1AF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}